* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Space Grotesk;
  
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --Red-input-errors: hsl(0, 100%, 66%);
}


.backcard {
  width: 100%;
  height: 250px;
  background-image: url("images/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tt {
  position: relative; 
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  /* top: -220px; */
  /* left: 2vw; */
  /* right: 50%; */
 /* border: solid rgb(10, 34, 219) 3px; */
} 

.tt img {
  /* position: absolute; */
  width: 280px;
  

 /* border: solid red 4px; */

}

.tt .img1 {
  /* z-index: 5; */
  /* top: 0px;
  right: 20px; */
  margin: 30px 0 0 60px;
}

.tt .img2 {
  /* z-index: 5; */
  /* top: 115px;
  right: 80px; */
  /* margin: 0 0 220px 60px; */
  transform: translate(-30px, -65px);
}

.tt .img3 {
  /* top: 135px;
  right: 285px; */
  width: 55px;
  transform: translate(-125px, -205px);
  /* border: solid red 4px; */
}

.tt p {
  position: absolute;
  color: rgb(235, 235, 235);
}


.tt .p1 {
  font-size: 18px;
  letter-spacing:2px;
  top: 200px;
  left: 40px;
  /* transform: translate(-30px, -165px); */
}

.tt .p2 {
  top: 240px;
  left: 40px;
  font-size: 11px;
  text-transform: uppercase;
  /* transform: translate(-30px, -150px); */
  color: var(--Light-grayish-violet);
}

.tt .p3 {
  top: 240px;
  font-size: 11px;
  /* transform: translate(175px, -165px); */
  right: 100px;
  color: var(--Light-grayish-violet);
}

.tt .p4 {
  top: 98px;
  right: 50px;
  /* transform: translate(230px, -322px); */
  font-size: 11px;
  /* border: 5px solid red; */
}


.sec2 form {
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

form {
  width: 375px;
  padding: 0 20px;
  margin: 80px auto 0 auto;
  text-align: left;
}



label {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--Very-dark-violet);
  font-size: 13px;
  font-weight: 500;
  margin-top: 8px;
}
input {
  height: 45px;
  border-radius: 8px;
  padding: 0 17px;
  margin: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--Dark-grayish-violet);
  border: 1.7px solid var(--Light-grayish-violet);
}

label span {
  margin-left: 50px;
}

.in {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.inp {
  width: 25%;
}

.inp2 {
  margin: 10px 10px 0px 10px;
}



.inp3 {
  width: 50%;
}

button {
  color: var(--Light-grayish-violet);
  padding: 15px 0px;
  margin-top: 15px;
  margin-bottom: 100px;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  background-color: var(--Very-dark-violet);
}


.eror {
  color: red;
  font-size: 12px;
  display: none;
}

.eror4 {
  transform: translate(180px, -15px);
}




 @media only screen and (min-width: 1280px) {
  
  
  .b {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 355px;
    height: 100vh;

    /* border: solid red 4px; */
 } 
  .backcard {
    width: 33vw;
    height: 100vh;
    background-repeat: repeat; 

  }


  .tt .img1 {
    transform: translate(260px, 390px);
    height: 245px;
    width: 447px;

  }

  .tt .img2 {
    /* bottom: 545px;/ */
    height: 245px;
    width: 447px;
    transform: translate(190px, -130px);
  }

  .tttext .p1 {
    top: 280px;
    right: 7px;
    letter-spacing: 4px;
    /* font-weight: 400; */
  transform: translateX(140px);
  /* border: solid red 4px; */
  width: 450px;
    font-size: 28px;
  }

  .tttext .p2 {
    top: 350px;
    /* right: 890px; */
    font-size: 15px;
  width: 200px;
  transform: translateX(140px);
  }


  .tttext .p3 {
    top: 350px;
    right: -200px;
    font-size: 15px;
  /* transform: translate(510px, -270px); */
  }

  .tttext .p4 {
    top: 532px; 
    right: -270px; 
    font-size: 15px;
  /* transform: translate(610px, -108px); */
  }

  .tt .img3 {
    /* top: -330px; */
    width: 80px;
    /* border: solid 4px green; */
    transform: translate(30px, -360px);
  }

  form {
    margin-right: 12vw;
    /* border: solid red 4px; */
    width: 420px;
    transform: translateY(170px); 
  }

  form label {
    margin-top: 20px;
  }

  label span {
    margin-left: 70px;
  }

}



